<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button type="button" class="btn btn-outline-secondary" routerLink="/restaurant/api/filter/average-cost-for-two-inc" routerLinkActive="active">Average Cost For Two: Low to High</button>
  <button type="button" class="btn btn-outline-secondary" routerLink="/restaurant/api/filter/average-cost-for-two-dsc" routerLinkActive="active">Average Cost For Two: High to Low</button>
  <button type="button" class="btn btn-outline-secondary" routerLink="/restaurant/api/filter/votes-inc" routerLinkActive="active">Votes : Low to High</button>
  <button type="button" class="btn btn-outline-secondary" routerLink="/restaurant/api/filter/votes-dsc" routerLinkActive="active">Votes : High to Low</button>
  <button type="button" class="btn btn-outline-secondary" routerLink="/restaurant/api/filter/ratings-inc" routerLinkActive="active">Ratings : Low to High</button>
  <button type="button" class="btn btn-outline-secondary" routerLink="/restaurant/api/filter/ratings-dsc" routerLinkActive="active">Ratings : High to Low</button>
</nav>